
DataWH/WebApplication1/.idea/.idea.WebApplication1/.idea/workspace.xml
DATAWH/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.assets.cache
DATAWH/WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.csprojAssemblyReference.cache
DATAWH/WebApplication1/WebApplication1/obj/project.assets.json
DATAWH/WebApplication1/WebApplication1/obj/WebApplication1.csproj.nuget.cache
DATAWH/WebApplication1/WebApplication1/obj/WebApplication1.csproj.nuget.dgspec.json
DATAWH/WebApplication1/WebApplication1/obj/WebApplication1.csproj.nuget.g.props
