<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android_sep4">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.museum.rooms.EmptyArtworkActivity"
            android:theme="@style/AppTheme.PopUpTheme"/>
        <activity android:name=".view.settings.SettingsActivity"
            android:parentActivityName=".view.MainActivity"/>
        <activity
            android:name=".view.AccountActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity android:name=".view.LoginActivity" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".view.museum.rooms.ArtworkDetails"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity android:name=".view.museum.rooms.RoomB4Activity" />
        <activity android:name=".view.museum.rooms.RoomB3Activity" />
        <activity android:name=".view.museum.rooms.RoomB2Activity" />
        <activity android:name=".view.museum.rooms.RoomB1Activity" />
        <activity android:name=".view.museum.rooms.RoomA3Activity" />
        <activity android:name=".view.museum.rooms.RoomA2Activity" />
        <activity android:name=".view.museum.rooms.RoomA1Activity" />
        <activity android:name=".view.room.StorageActivity"
            android:parentActivityName=".view.MainActivity"/>
        <activity android:name=".view.room.EditRoomActivity" />
        <activity android:name=".view.room.RoomArtworksActivity" />
        <activity
            android:name=".view.artwork.EditArtworkActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.room.VisualizeData"
            android:parentActivityName=".view.MainActivity"/>
        <activity
            android:name=".view.artwork.NewArtworkActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity android:name=".view.MainActivity"/>

    </application>

</manifest>